<!DOCTYPE html>
<html lang="zh-CN">
	<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>universe的blog</title>
	<link href="{$BASE_URL}application/views/css/style.css" rel="stylesheet">
	<style type="text/css" media="screen">
		html { margin-top: 28px !important; }
		* html body { margin-top: 28px !important; }
		#titlediv,#authordiv,#contentdiv{
			border-color: #DFDFDF;
		    border-radius: 3px 3px 3px 3px;
		    box-shadow: 0 1px 0 #FFFFFF inset;
			margin-bottom: 10px;
   			position: relative;
		}
	</style>
	<script type="text/javascript" src="{$BASE_URL}application/views/js/ckeditor/ckeditor.js"></script>
	</head>

	<body class="home blog logged-in admin-bar no-customize-support custom-font-enabled single-author">
		<div id="page" class="hfeed site">
			<header id="masthead" class="site-header" role="banner">
				<hgroup>
					<h1 class="site-title"><a href="{$BASE_URL}" title="blog" rel="home">universe的博客</a></h1>
					<h2 class="site-description">界面源于Wordpress</h2>
				</hgroup>
		
				<nav id="site-navigation" class="main-navigation" role="navigation">
					<h3 class="menu-toggle">菜单</h3>
					<a class="assistive-text" href="#content" title="跳至内容">跳至内容</a>
					<div class="nav-menu">
						<ul>
							<li class="page_item page-item-2"><a href="{$BASE_URL}" title="首页">首页</a></li>
							<li class="page_item page-item-3"><a href="{$BASE_URL}index.php/main/add" title="写博客">写博客</a></li>
							<li class="current_page_item"><a href="{$BASE_URL}index.php/main/import" title="博客导入">博客导入</a></li>
							<!--  
							<li class="page_item page-item-3"><a href="{$BASE_URL}index.php/main/about" title="关于">关于</a></li>
						-->
						</ul>
					</div>
				</nav><!-- #site-navigation -->
		
			</header><!-- #masthead -->
		
			<div id="main" class="wrapper">
				<div id="primary" class="site-content">
					<div id="content" role="main">						
						<form id="blog_form" class="form-horizontal" action="{$BASE_URL}index.php/main/import" method="post">
						     <div id="titlediv">
						     	<label id="title-prompt-text" class="" for="sinaurl">新浪链接地址</label>
								<input id="title" type="text" autocomplete="off" value="" size="30" name="sinaurl">
								<div>（示例：http://blog.sina.com.cn/s/articlelist_1191258123_0_1.html）</div>
						     </div>
						     <div id="titlediv">
						     	<label id="title-prompt-text" class="" for="sohuurl">搜狐链接地址</label>
								<input id="title" type="text" autocomplete="off" value="" size="30" name="sohuurl">
								<div>（示例：http://jishaochengvip.blog.sohu.com/entry/）</div>
						     </div>
						     <div id="titlediv">
						     	<label id="title-prompt-text" class="" for="neteaseurl">网易链接地址</label>
								<input id="title" type="text" autocomplete="off" value="" size="30" name="neteaseurl">
						     	<div>（示例：http://letaosun.blog.163.com/blog/）</div>
						     </div>
						     <input id="publish" class="button button-primary button-large" type="submit" accesskey="p" value="导入" name="publish">
						</form>
					</div><!-- #content -->
				 </div><!-- #primary -->
		
				</div><!-- #main .wrapper -->
				<footer id="colophon" role="contentinfo">
					<div class="site-info">
						<a href="http://cn.wordpress.org/" title="优雅的个人发布平台">自豪地采用 WordPress</a>
					</div><!-- .site-info -->
				</footer><!-- #colophon -->
		</div><!-- #page -->
	</body>
</html>